body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.banner {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/2022_pattern_Tudor_Crown_%283D%29.svg/1920px-2022_pattern_Tudor_Crown_%283D%29.svg.png");
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  color: red;
  text-align: center;
}

.banner-content h1 {
  font-size: 2.5em;
  margin: 0;
  background-color: white;
}

.banner-content p {
  font-size: 1.2em;
  background-color: white;
}


.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(254, 197, 206);
}


@media(max-width: 1200px) {
  .container {
      max-width: 992px;
  }
}

@media(max-width: 992px) {
  .container {
      max-width: 768px;
  }
}

@media(max-width: 768px) {
  .container {
      max-width: 576px;
  }
}


a {
  color: #1a0dab;
  text-decoration: none;
  background-image: linear-gradient(to right, #1a0dab, #1a0dab);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.3s ease;
}

a:hover {
  background-size: 100% 2px;
  color: #000;
}
